# Configuration file

####################
# appeng
####################

appeng {
    ####################
    # options
    #===================
    # Options for Applied Energistics as a whole.
    # oreDepthModifier - This feature is deprecated, and will be removed in a future revision.
    ####################

    options {
        B:enableVersionChecker=true
        B:enableWorldGenQuartz=true
        I:ore.densityModifier=0
        I:ore.depthModifier=0
    }

    ####################
    # bcintegration
    ####################

    bcintegration {
        B:enableBCtoMEChipRecipe=false
        B:useBuildcraftChips=false
    }

}


####################
# block
#===================
# BlockID's for blocks added by Applied Energistics ( these are not shifted. +256 for Ingame ).
####################

block {
    I:appeng.blockMulti=900
    I:appeng.blockMulti2=901
    I:appeng.blockWorld=902
}


####################
# features
#===================
# Enable / Disable AE Features.
####################

features {
    B:enableGrinder=true
    B:enableSpaceClickMoving=true
}


####################
# graphics
#===================
# Adjust Visual quality of complicated rendering.
####################

graphics {
    B:gfxCableAnimation=true
    B:gfxDrivesHighDef=true
}


####################
# item
#===================
# ItemID's for items added by Applied Energistics.
####################

item {
    I:appeng.itemMulti=4105
    I:appeng.materialID=4106
    I:appeng.toolEntropyAccelerator=4107
    I:appeng.toolQuartzAxe=4109
    I:appeng.toolQuartzHoe=4110
    I:appeng.toolQuartzKnife=4115
    I:appeng.toolQuartzPick=4112
    I:appeng.toolQuartzShovel=4111
    I:appeng.toolQuartzSword=4113
    I:appeng.toolQuartzWrench=4114
    I:appeng.toolVibrationCatalyst=4108
}


####################
# logging
#===================
# Enable or disable various logging features, enabling logging features will create large logs.
####################

logging {
    B:enableLogging=false
    B:logCrafting=false
    B:logGrinderOres=false
    B:logPowerUsage=false
}


####################
# me
####################

me {
    ####################
    # options
    #===================
    # Options for Mass Energy Components.
    # largeDrives - This feature is deprecated, and will be removed in a future revision.
    ####################

    options {
        D:base.wireless.range=16.0
        B:largeDrives=false
        I:max.wireless.extenderBonus=1
        I:max.wireless.extenders=16
        D:powerUsageMultiplier=1.0
        B:requirePower=true
        B:terminalAutoSearch=true
        S:terminalSortBy=Name
        S:terminalSortDirection=ASC
        B:terminalUseLargeFont=false
        S:terminalViewItems=ALL
    }

}


