# Configuration file

####################
# general
####################

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=a8ab7500-45a2-4c09-8be2-00fcf2b8e2a4

    # Set to true to disable all reporting
    B:opt-out=false
}


